body {
    background-image: url("images/Edit.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.showBox {
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    align-self: center;
    border-radius: 5px 5px;
    width: 95%;
    height: 800px;
    background-color: rgb(10, 10, 68, 80%);
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}

.displayFlex {
    display: flex;
}

.displayHidden {
    display: none;
}

.flexDirectionColumn{
    flex-direction: column;
}

.userInformation{
    align-items: center;
    justify-content: center;
}