@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js);
@import url(https://fonts.googleapis.com/css?family=Arvo);

/* iconicfill */
[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 300px;
}

.center {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: auto;
}

body {
    background-image: linear-gradient(#8be9e7, #20dad8, #20a5d8, #12395a, #120d14);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}

.courseData {
    width: 60%;
    height: 600px;
    background-color: rgba(158, 78, 147, 0.3);
    display: flex;
    justify-content: space-around;
    border-radius: 5px 5px;
    flex-direction: column;
    align-items: center;
}

.studentsData {
    width: 36%;
    height: 600px;
    background-color: rgba(158, 78, 147, 0.3);
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
}

.courseHeader {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(124, 86, 86);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.student {
    width: 97%;
    background-color: rgba(47, 48, 143, 0.4);
    border-radius: 5px 5px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#cancelButton {
    display: none;
}

#studentsList {
    display: none;
}

#editPad {
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: #12395a;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 46%;
    display: none;
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 5px 5px;
}

.input {
    display: block;
    width: 90%;
    padding: 15px 0 15px 12px;
    font-family: "Arvo";
    font-weight: 400;
    color: #377D6A;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    text-indent: 60px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 13px;
}
.flexDirectionColumn{
    display: flex;
    flex-direction: column;
}

.editPadInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.margin-top-5 {
    margin-top: 3%;
}

input:focus {
    text-indent: 12px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

label {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Arvo';
    font-size: 16px;
}

/* ==== Pen animation ==== */
.move-pen {
    animation: move-pen 1s ease-in infinite alternate;
}

@keyframes move-pen {
    from {
        transform: translateX(-4px) rotate(6deg);
    }

    to {
        transform: translateX(4px) rotate(-3deg);
    }
}

#studentsPad {
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: #12395a;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 46%;
    display: none;
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 5px 5px;
    overflow: auto;
}

.studentsPadInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.students {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: rgb(10, 10, 68, 80%);
    color: white;
    margin-top: 3%;
}

#teachersPad {
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: #10e9e9;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 46%;
    display: none;
    align-items: center;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 5px 5px;
    overflow: auto;
}

.teachersPadInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.showBox {
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    align-self: center;
    border-radius: 5px 5px;
    width: 100%;
    height: 150px;
    background-color: rgb(10, 10, 68, 80%);
    color: white;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.teachers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: rgb(10, 10, 68, 80%);
    color: white;
    margin-top: 3%;
}