body {
    background-image: linear-gradient(#8be9e7, #20dad8, #20a5d8, #12395a, #120d14);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.box {
    width: 40%;
    height: 700px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(36, 31, 80, .7);
}

.boxFont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.alignItems {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    border-radius: 5px 5px;
    background-color: rgb(164, 164, 238);
}

.input {
    border-radius: 5px 5px;
    width: 83%;
    border-color: white;
}

.signUpInput {
    height: 40px;
}

.marginTop {
    margin-bottom: 5px;
}

.role {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signUpForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
}

.sex {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signUp {
    border-radius: 5px 5px;
    border-color: white;
    width: 60%;
    height: 40px;
}

.backToHome{
    border-radius: 5px 5px;
    border-color: white;
    width: 100%;
    height: 40px;
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
