<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/DescriptiveQuestionStyle.css}"/>
    <title>ایجاد سوال تشریحی</title>
</head>
<body>
<form action="#" method="post" th:action="@{/descriptive/add-descriptive}" th:object="${descriptive}" class="create-question-form">
    <label for="problem">عنوان سوال : </label>
    <textarea name="title" class="border-radius-5 fontSize-16 resize-none" th:field="*{title}" id="title" cols="30" rows="8"
              placeholder="صورت سوال را وارد کنید"></textarea>
    <label for="problem">صورت سوال : </label>
    <textarea name="problem" class="border-radius-5 fontSize-16 resize-none" th:field="*{header}" id="problem" cols="30" rows="8"
              placeholder="صورت سوال را وارد کنید"></textarea>
    <label for="correctAnswer">جواب صحیح :</label>
    <textarea name="correctAnswer" class="border-radius-5 fontSize-16 resize-none" th:field="*{correctAnswer}" id="correctAnswer" cols="30" rows="8"
              placeholder="جواب صحیح سوال را وارد کنید"></textarea>
    <label for="correctAnswer">نمره سوال :</label>
    <input class="height-30" type="number" name="grade" id="grade" step="0.01" placeholder="نمره سوال را وارد کنید"/>
    <div>
        <input type="hidden" name="quizId" th:value="${quiz.id}">
        <input class="green-button button margin-top-10 border-radius-5" type="submit" id="acceptButton" value="تایید">
</form>
<form action="#" th:action="@{/teacher/main}">
    <input class="red-button button margin-top-10 border-radius-5" type="submit" value="لغو">
</form>
</div>
<script th:src="@{/js/DescriptiveQustionJS.js}"></script>
</body>
</html>