<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/EditUserInformationStyle.css}">
    <title>Edit user</title>
</head>
<body>
<div>
    <div id="studentList" class="showBox">
        <p class="displayFlex" id="firstName">FirstName : <span th:text="${user.firstName}"></span> <input
                class="displayHidden"
                id="changeFirstNameButton"
                onclick="showFirstNameForm()" type="button"
                value="Change first name">
        </p>
        <form class="displayHidden" id="firstNameForm" action="/user/change-user-first-name" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input id="firstNameInput" type="text" name="firstName" placeholder="New first name">
            <input type="submit" onclick="checkFirstNameInput()" value="Change">
        </form>
        <p class="displayFlex" id="lastName">LastName : <span th:text="${user.lastName}"></span> <input type="button"
                                                                                                        class="displayHidden"
                                                                                                        id="changeLastNameButton"
                                                                                                        onclick="showLastNameForm()"
                                                                                                        value="Change last name">
        </p>
        <form class="displayHidden" id="lastNameForm" action="/user/change-user-last-name" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input type="text" id="lastNameInput" name="lastName" placeholder="New last name">
            <input type="submit" onclick="checkLastNameInput()" value="Change">
        </form>
        <p>Birthday : <span th:text="${user.birthday}"></span></p>
        <p class="displayFlex" id="email">Email : <span th:text="${user.email}"></span> <input type="button"
                                                                                               class="displayHidden"
                                                                                               onclick="showEmailForm()"
                                                                                               id="changeEmailButton"
                                                                                               value="Change email"></p>
        <form class="displayHidden" id="emailForm" action="/user/change-user-email" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input type="text" id="emailInput" name="email" placeholder="New email">
            <input type="submit" onclick="checkEmailInput()" value="Change">
        </form>
        <p>Status : <span th:text="${user.status}"></span></p>
        <p>Gender : <span th:text="${user.gender}"></span></p>
    </div>
    <div>
        <div class="displayFlex">
            <input type="button" value="Edit" onclick="edit()">
            <input type="button" value="cancel" onclick="cancelEdit()" class="displayHidden" id="cancelButton">
        </div>
    </div>
</div>
<script  th:src="@{/js/EditUserInformationJS.js}">

</script>
</body>
</html>