<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/EditUserInformationStyle.css}">
    <title>ویرایش کاربر</title>
</head>
<body>
<div>
    <div id="studentList" class="showBox">
        <p class="displayFlex" id="firstName"><span th:text="${user.firstName}"></span> : نام  <input
                class="displayHidden"
                id="changeFirstNameButton"
                onclick="showFirstNameForm()" type="button"
                value="تغییر نام">
        </p>
        <form class="displayHidden" id="firstNameForm" action="/user/change-user-first-name" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input id="firstNameInput" type="text" name="firstName" placeholder="New first name">
            <input type="submit" onclick="checkFirstNameInput()" value="تغییر">
        </form>
        <p class="displayFlex" id="lastName"><span th:text="${user.lastName}"></span> : نام خانوادگی<input type="button"
                                                                                                        class="displayHidden"
                                                                                                        id="changeLastNameButton"
                                                                                                        onclick="showLastNameForm()"
                                                                                                        value="تغییر نام خانوادگی">
        </p>
        <form class="displayHidden" id="lastNameForm" action="/user/change-user-last-name" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input type="text" id="lastNameInput" name="lastName" placeholder="New last name">
            <input type="submit" onclick="checkLastNameInput()" value="تغییر">
        </form>
        <p><span th:text="${user.birthday}"></span>: تاریخ تولد</p>
        <p class="displayFlex" id="email"><span th:text="${user.email}"></span> : ایمیل<input type="button"
                                                                                               class="displayHidden"
                                                                                               onclick="showEmailForm()"
                                                                                               id="changeEmailButton"
                                                                                               value="تغییر ایمیل"></p>
        <form class="displayHidden" id="emailForm" action="/user/change-user-email" method="post">
            <input type="hidden" th:value="${user.id}" name="userId">
            <input type="text" id="emailInput" name="email" placeholder="New email">
            <input type="submit" onclick="checkEmailInput()" value="تغییر">
        </form>
        <p><span th:text="${user.status}"></span> : وضعیت</p>
        <p><span th:text="${user.gender}"></span> : جنسیت</p>
    </div>
    <div>
        <div class="displayFlex">
            <input type="button" value="ویرایش" onclick="edit()">
            <input type="button" value="لغو" onclick="cancelEdit()" class="displayHidden" id="cancelButton">
        </div>
    </div>
</div>
<script  th:src="@{/js/EditUserInformationJS.js}">

</script>
</body>
</html>