<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/EditUserInformationStyle.css}">
    <title>ویرایش کاربر</title>
</head>
<body>
<div>
    <div class="showBox">
        <form id="updateUserInformation">
            <label for="exampleFormControlInput1" class="form-label">نام : </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="firstName" th:value="${user.firstName}">
            <label for="exampleFormControlInput1" class="form-label">نام خانوادگی : </label>
            <input id="userLastName" type="text" class="form-control" name="lastName" th:value="${user.lastName}">
            <label for="exampleFormControlInput1" class="form-label">تاریخ تولد : </label>
            <input id="userBirthDay" type="date" class="form-control" name="birthday" th:value="${#calendars.format(user.birthday, 'yyyy-MM-dd')}">
            <label for="exampleFormControlInput1" class="form-label">ایمیل : </label>
            <input id="userEmail" type="email" class="form-control" name="email" th:value="${user.email}">
            <label for="exampleFormControlInput1" class="form-label">کد ملی : </label>
            <input id="userNationalCode" type="number" class="form-control" name="nationalCode" th:value="${user.nationalCode}">
            <input id="userId" name="userId" type="hidden" th:value="${user.id}">
            <p> جنیست : <span th:text="${user.gender}"></span></p>
            <p>  وضعیت : <span th:text="${user.status}"></span></p>
            <input type="submit" value="تغییر">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script  th:src="@{/js/EditUserInformationJS.js}">

</script>
</body>
</html>