<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/FoundUsersStyle.css}">
    <title>کاربر های پیدا شده</title>
</head>
<body>
<div th:switch="${users}" id="studentsData">
    <h2 th:case="null">کاربری یافت نشد</h2>
    <div th:case="*">
        <div th:each="user : ${users}" id="studentList" class="showBox">
            <p><span th:text="${user.firstName}"></span> : نام</p>
            <p><span th:text="${user.lastName}"></span> : نام خانوادگی</p>
            <p><span th:text="${user.birthday}"></span> : تاریخ تولد</p>
            <p><span th:text="${user.email}"></span> : ایمیل</p>
            <p><span id="studentStatus" th:text="${user.status}"></span> : وضعیت</p>
            <p><span th:text="${user.gender}"></span> : جنسیت</p>
            <p><span th:text="${user.type}"></span> : نوع</p>
        </div>
    </div>
</div>
</body>
</html>