<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(#8be9e7, #20dad8, #20a5d8, #12395a, #120d14);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }

        table {
            width: 100%;
        }

        table, th, td {
            border-color: teal;
            border-style: solid;
            border-radius: 50px 50px;
            border-collapse: collapse;
        }

        .displayNone{
            display: none;
        }

        .showBox {
            font-size: 20px;
            margin-top: 5%;
            display: flex;
            align-self: center;
            border-radius: 5px 5px;
            width: 95%;
            height: 150px;
            background-color: rgb(10, 10, 68, 80%);
            color: white;
            flex-direction: column;
            flex-wrap: wrap;
        }
    </style>
    <title>Manager</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">University</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link active" id="students" onclick="showStudents()" style="cursor: pointer">Student</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="showTeachers()" style="cursor: pointer" id="teachers">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="showCourses()" style="cursor: pointer" id="courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add-course" style="cursor: pointer" >Add course</a>
                </li>
            </ul>
            <form action="/search-users" class="d-flex">
                <input name="field" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div th:switch="${students}" id="displayStudents">
    <h2 th:case="null">No teacher found</h2>
        <div th:case="*">
            <div th:each="student : ${students}">
                <div id="studentList" class="showBox">
                    <p>FirstName : <span th:text="${student.firstName}"></span></p>
                    <p>LastName : <span th:text="${student.lastName}"></span></p>
                    <p>Birthday : <span th:text="${student.birthday}"></span></p>
                    <p>Email : <span th:text="${student.email}"></span></p>
                    <p>Status : <span id="studentStatus" th:text="${student.status}" th:value="${student.status}"></span></p>
                    <p>Gender : <span th:text="${student.gender}"></span></p>
                </div>
                <div th:switch="${student.status}">
                    <div th:case="'In progerss'" style="display: flex">
                        <form action="#" th:action="@{/reject-user}" method="post">
                            <input type="hidden" th:value="${student.id}" name="userId">
                            <input type="submit" value="Reject">
                        </form>
                        <form action="#" th:action="@{/accept-user}" method="post">
                            <input type="hidden" th:value="${student.id}" name="userId">
                            <input type="submit" value="Accept">
                        </form>
                    </div>
                    <div th:case="'Rejected'">
                        <form action="#" th:action="@{/accept-user}" method="post">
                            <input type="hidden" th:value="${student.id}" name="userId">
                            <input type="submit" value="Accept">
                        </form>
                    </div>
                    <div th:case="'Accepted'" style="display: flex">
                        <form action="#" th:action="@{/student-to-teacher}" method="post">
                            <input type="hidden" th:value="${student.id}" name="userId">
                            <input type="submit" value="Change role to teacher">
                        </form>
                        <form action="#" th:action="@{/edit-user-information}" method="post">
                            <input type="hidden" th:value="${student.id}" name="userId">
                            <input type="submit" value="Edit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<div th:switch="${teachers}" class="displayNone" id="displayTeachers">
    <h2 th:case="null">No student found</h2>
    <div th:case="*">
        <div th:each="teacher : ${teachers}">
            <div class="showBox">
                <p>FirstName : <span th:text="${teacher.firstName}"></span></p>
                <p>LastName : <span th:text="${teacher.lastName}"></span></p>
                <p>Birthday : <span th:text="${teacher.birthday}"></span></p>
                <p>Email : <span th:text="${teacher.email}"></span></p>
                <p>Status : <span th:text="${teacher.status}"></span></p>
                <p>Gender : <span th:text="${teacher.gender}"></span></p>
            </div>
            <div th:switch="${teacher.status}">
                <div th:case="'In progress'" style="display: flex">
                    <form action="#" th:action="@{/reject-user}" method="post">
                        <input type="hidden" th:value="${teacher.id}" name="userId">
                        <input type="submit" value="Reject">
                    </form>
                    <form action="#" th:action="@{/accept-user}" method="post">
                        <input type="hidden" th:value="${teacher.id}" name="userId">
                        <input type="submit" value="Accept">
                    </form>
                </div>
                <div th:case="'Rejected'">
                    <form action="#" th:action="@{/accept-user}">
                        <input type="hidden" th:value="${teacher.id}" name="userId">
                        <input type="submit" value="Accept">
                    </form>
                </div>
                <div th:case="'Accepted'" style="display: flex">
                    <form action="#" th:action="@{/teacher-to-student}" method="post">
                        <input type="hidden" th:value="${teacher.id}" name="userId">
                        <input type="submit" value="Change role to student">
                    </form>
                    <form action="#" th:action="@{/edit-user-information}" method="post">
                        <input type="hidden" th:value="${teacher.id}" name="userId">
                        <input type="submit" value="Edit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:switch="${courses}" class="displayNone" id="displayCourses">
    <h2 th:case="null">No student found</h2>
    <div th:case="*">
        <div th:each="course : ${courses}">
            <div class="showBox">
                <p>Title : <span th:text="${course.title}"></span></p>
                <p>Code : <span th:text="${course.courseCode}"></span></p>
                <p>Start date : <span th:text="${course.startDate}"></span></p>
                <p>Finish date : <span th:text="${course.finishDate}"></span></p>
            </div>
            <div>
                <div style="display: flex">
                    <form action="#" th:action="@{/display-course}" method="post">
                        <input type="hidden" th:value="${course.id}" name="courseId">
                        <input type="submit" value="See details">
                    </form>
                    <form action="#" th:action="@{/delete-course}" method="post">
                        <input type="hidden" th:value="${course.id}" name="courseId">
                        <input type="submit" value="Delete course" style="background-color: red">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    function showTeachers() {
        document.getElementById("displayTeachers").style.display = "block"
        document.getElementById("displayStudents").style.display = "none"
        document.getElementById("displayCourses").style.display = "none"
    }
    function showStudents() {
        document.getElementById("displayTeachers").style.display = "none"
        document.getElementById("displayStudents").style.display = "block"
        document.getElementById("displayCourses").style.display = "none"
    }
    function showCourses() {
        document.getElementById("displayTeachers").style.display = "none"
        document.getElementById("displayStudents").style.display = "none"
        document.getElementById("displayCourses").style.display = "block"
    }
</script>
</body>
</html>